body {
    background-color: skyblue;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 125px;
}
.center,
.question,
.buttons{
    text-align: center;
}

.form-check-label{
    font-size: 24px;
    padding-left: 50px;
    }

.question{
    font-weight: bolder;
}